/* ===== Primary Styles ========================================================
   Author: Kate
   ========================================================================== */

/*MAIN*/
body {
  background: #222;
}
#video-container{
  position: relative;
  top: 30px;
  width: 700px;
  margin: 0 auto;
}
#main {
  width: 100%;
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1000;
}

/* - - - - For Supertext - - - - */
.titlecard { text-align: center; }
#title1 { margin-top: 80px; }
#general-text { position: absolute; top: 100px; width: 100%; }

/* - - - - For Flickr - - - - */
.flickr-container { position: absolute; top: 0; left: 20px;}
.flickr-container p{ display: none; }
.flickr-container img { 
  -moz-animation: floaty 4s infinite;
  -webkit-animation: floaty 4s infinite;
}

@-moz-keyframes floaty{
    0%{
        -moz-transform:scale(.9) rotate(0deg);
    }
    50%{
        opacity:1;
        -moz-transform:scale(1) rotate(5deg);
    }
    100%{
        -moz-transform:scale(.9) rotate(0deg);
    }
}
@-webkit-keyframes floaty{
    0%{
        -webkit-transform:scale(.9) rotate(0deg);
    }
    50%{
        opacity:1;
        -webkit-transform:scale(1) rotate(5deg);
    }
    100%{
        -webkit-transform:scale(.9) rotate(0deg);
    }
}

.googlemap-container { position: absolute !important; top: 0; left: 0;}



/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
    